#nav {
  font-family: Helvetica, Verdana, Arial, sans-serif;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: DeepSkyBlue;
  position: fixed;
  top: 0;
  width: 99%;
  box-shadow: 2px 2px 5px;
  border-radius: 0px 0px 10px 10px;
}

.navList {
  float: left;
  border-right: 1px solid white;
}

.navList a {
  display: block;
  color: white;
  text-align: center;
  padding: 1em;
  text-decoration: none;
}

.navList a:hover {
  background-color: MediumVioletRed;
}

a:visited {
  color: white;
}

.active {
  background-color: LightSlateGrey;
}

body {
  /* Background pattern from Toptal Subtle Patterns */
  background-image: url("Content/dark-honeycomb.png");
  font-family: Helvetica, Verdana, Arial, sans-serif;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 53px;
  width: 35%;
  border: 8px solid black;
}

#description {
  margin-top: 70px;
  color: white;
}

#accordion {
  margin-top: 100px;
  color: white;
  width: 50%;
  margin-left: 500px;
}

.acTitle {
  background-color: DeepSkyBlue;
  padding: 15px 32px;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 2px 2px 5px black;
}

h2 {
  margin: 5px;;
}

h4 {
  font-weight: normal;
}

.acTitle:hover {
  background-color: MediumVioletRed;
}

.acData {
  color: white;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 10px;
  border-radius: 0px 0px 8px 8px;
  text-align: justify;
}

.examples {
  padding-bottom: 10px;
}

.exContent {
  object-fit: cover;
  width: 100px;
  height: 100px;
  margin-left: 110px;
  cursor: pointer;
  border: 2px solid white;
  box-shadow: 2px 2px 5px black;
}

.intContainer {
  position: fixed;
  display: none;
  top: 120px;
  margin-left: 80px;
}

#intTitle {
  margin-top: 70px;
  color: white;
  margin-left: 810px;
  margin-bottom: -80px;
}

.column{
  float: left;
  width: 11%;
  margin-left: 2px;
}

.column img {
  opacity: .5;
  cursor: pointer;
  width: 1%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: 50% 10%;
  border: 2px solid white;
  background-color: black;
  border-radius: 8px;
}

.column img:hover {
  opacity: 1;
  box-shadow: 2px 2px 5px black;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.container {
  position: fixed;
  display: none;
  top: 375px;
  left: 750px;
}

#imgtext {
  position: absolute;
  top: 525px;
  left: -200px;
  color: white;
  font-size: 35px;
}

.closebtn {
  position: absolute;
  top: 10px;
  left: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}

#webProjCont {
  float: left;
  margin-left: 400px;
}

#miscProj {
  float: right;
  margin-right: 400px;
}

#miscProjects, #projects {
  margin-top: 70px;
  color: white;
  text-align: center;
}

.prjButton {
  transition-duration: 0.4s;
  background-color: DeepSkyBlue;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  width: 250px;
  margin-bottom: 10px;
  margin-left: 75px;
  border-radius: 8px;
  box-shadow: 2px 2px 5px black;
}

.prjButton:hover, .prjButtonMisc:hover, .innerButton:hover {
  background-color: MediumVioletRed;
  box-shadow: 2px 2px 5px black;
}

.prjButtonMisc {
  transition-duration: 0.4s;
  background-color: DeepSkyBlue;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  width: 250px;
  margin-bottom: 10px;
  margin-left: 30px;
  border-radius: 8px;
  box-shadow: 2px 2px 5px black;
}

.collapsible {
  cursor: pointer;
}

.content {
  padding-bottom: 10px;
  width:250px;
  text-align: center;
  font-size: 14px;
  color: white;
  display: none;
  overflow: hidden;
  background-color: LightSlateGrey;
  margin-top: -10px;
  margin-left: 75px;
  margin-bottom: 10px;
  border-radius: 8px;
}

.contentMisc {
  padding-bottom: 10px;
  width:250px;
  text-align: center;
  font-size: 14px;
  color: white;
  display: none;
  overflow: hidden;
  background-color: LightSlateGrey;
  margin-top: -10px;
  margin-left: 30px;
  margin-bottom: 10px;
  border-radius: 8px;
}

.innerButton {
  transition-duration: 0.4s;
  background-color: DeepSkyBlue;
  border: none;
  color: white;
  width: 100px;
  cursor: pointer;
}

.grid-container {
  margin-top: 100px;
  margin-left: 120px;
  display: inline-grid;
  grid-column-gap: 280px;
  grid-row-gap: 200px;
}

.grid-item1 {
  grid-column-start: 1;
  grid-column-end: 1;
  background-color: DeepSkyBlue;
  padding: 32px;
  border-radius: 8px;
  box-shadow: 2px 2px 5px black;
  color: white;
  width: 300px;
  height: 450px;
  text-align: center;
}

.grid-item2 {
  grid-column-start: 2;
  grid-column-end: 2;
  background-color: DeepSkyBlue;
  padding: 32px;
  border-radius: 8px;
  box-shadow: 2px 2px 5px black;
  color: white;
  width: 300px;
  height: 450px;
  text-align: center;
}

.grid-item3 {
  grid-column-start: 3;
  grid-column-end: 3;
  background-color: DeepSkyBlue;
  padding: 32px;
  border-radius: 8px;
  box-shadow: 2px 2px 5px black;
  color: white;
  width: 300px;
  height: 450px;
  text-align: center;
}

#FPImage {
  margin-top: 20px;
}

#ICImage {
  margin-top: 20px;
  width: 280px;
  height: 162px;
}

#BBImage {
  margin-top: 20px;
  width: 280px;
  height: 162px;
}

.formContainer {
  margin-top: 100px;
  background-color: DeepSkyBlue;
  width: 50%;
  margin-left: 500px;
  border-radius: 8px;
  box-shadow: 2px 2px 5px black;
  padding: 20px;
}

input[type=text], textarea, [type=email] {
  padding: 12px;
  width: 97%;
  border: 2px solid LightSlateGrey;
  border-radius: 8px;
}

.formLabels {
  color: white;
}

#purpose {
  color: white;
}

input[type=submit] {
  background-color: MediumVioletRed;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 8px;
}

#contTitle {
  margin-top: 70px;
  color: white;
  margin-left: 880px;
  margin-bottom: -80px;
}

.error {
  color: MediumVioletRed;
  font-weight: bold;
}

#hpPic {
  margin-top: 100px;
  margin-left: 750px;
}

#mePic {
  border: 6px solid DeepSkyBlue;
  border-radius: 8px;
  box-shadow: 2px 2px 5px black;
}

#hpWords {
  color: white;
  text-align: center;
  background-color: DeepSkyBlue;
  width: 35%;
  padding: 4px;
  margin-top: 20px;
  margin-left: 610px;
  border-radius: 8px;
  box-shadow: 2px 2px 5px black;
}

#thankForm {
  margin-top: 100px;
  text-align: center;
  background-color: DeepSkyBlue;
  padding: 15px;
  color: white;
  width: 50%;
  margin-left: 450px;
  border-radius: 8px;
  box-shadow: 2px 2px 5px black;
}

.bioText {
  font-weight: normal;
  font-size: 12pt;
}
